*.aux
*.log
*.pdf
*.synctex.gz
*.toc
*~
*.swp
.idea/
.project
.class
prodDb.h2.db
prodDb.lock.db
target/
webshop-grailsPlugins.iml
webshop.iml
out/
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
test-reports/
*.iml
prodDb.h2.db
prodDb.lock.db
