*.aux
*.log
*.pdf
*.synctex.gz
*.toc
webshop/.idea/
webshop/.project
webshop/.class
webshop/target/
webshop/webshop-grailsPlugins.iml
webshop/webshop.iml
webshop/out/
webshop/web-app/WEB-INF/tld/c.tld
webshop/web-app/WEB-INF/tld/fmt.tld
